language: node_js
node_js:
- 8.10.0
branches:
  only:
  - source
install: npm install
before_script:
- git config --global user.email sendzation@gmail.com
- git config --global user.name "sendz"
- git remote set-url origin https://${GITHUB_TOKEN}@github.com/kdeid/kdeid.github.io.git
- sed -i "s/__GITHUB_TOKEN__/${GITHUB_TOKEN}/" _config.yml
script: npm run build

env:
  global:
    secure: MxVvX7IPq1uKJslk7O4A7TU85SJSAfk1V7pNEItifL7fFMwIOaLR9btHOWEaShufiP3nvdyjhenPj/Cb71mI4KMWvBzW5htNx+WJdGhqh+VbRFtdbHrXDqDlaJYRjrIJFnXbiztFtxb3WHDrbKzVZe79cSJubq55SzwmC9wbZ8cXW1vo5EVmZS3sFTNTz5i/erD7ppqnUiy9fB8tpD5InehZ/jSDji6ETga5tFHgdBG9gcFbyYSiMCqTbssJC0GRuu1zcNPM6Tw+XDCz//ZDeBZnPUQvL0SMnWmcaPS4JgdSjvBPDv3VC+YIqWGczu6rC+njzNJn8f4MwfQwvZy1T6zLtqXJF7U0J5Cz2YwpaSa6jyQ2+cDPxnV6TAxhaVpL+XUCEJQdyaKP7D7c7fEzs6X5jOHKZ8S6OZMq5V4N5rxs3BhjtU3ECfEyHu7N9ascTF7/x/xSySQfeBIYHXuEODvLzizOCvXFO5TKWgAKBuQVm3Djj3O6X2fyQsJhAKiZ1Hp3vUAazLQI+Lm1Kjw9+OfzYYa2UFKv5rNrFTkmWo9mgHRCyustmOG+jmKaa0Vo2dWPSx52+EBwHEdi+KMfv1bNMN0GWA36m9+TZAw78w8f60iTMzqY1qBGO1d7Zklzg5FtFRLi0tz4Swj6k4HEDgRbuehP52O5s0GGlcbrgW0=
