/* here you can put your own css to customize and override the theme */

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\00A0';
}

cite::before {
  content: '\00A0 \2014 \00A0';
}

.blog-item blockquote footer {
  margin: 1em 0;
  font-size: inherit;
  font-style: italic;
}
.blog-item blockquote {
  margin: 15px 0px 15px;
  padding: 0 20px;
  position: relative;
  font-size: inherit;
}

.blog-posts p,
.article-entry p, .article-entry li {
  text-align: inherit !important;
  font-size: 1.1em;
  max-width: 100%;
  color: #333;
}

.article-entry .highlight {
  background: #f5f5f5;
  padding: 15px 20px;
  overflow: auto;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  background-color: transparent;
  border: none;
  padding: 0px;
}
.article-entry code {
  background: #f5f5f5;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  background: #f5f5f5;
  padding: 15px 0 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 10px;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background-color: transparent;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  border-top: solid;
  border-width: 1px;
  padding: 15px 10px 0px 10px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #777;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #e91e63;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #9c27b0;
}

.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}

.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.article-entry .gist .blob-num,
.article-entry .gist .blob-code {
  background: #f5f5f5;
}

nav {
  padding-top: 10px;
  border-top: solid 1px #ECEBEB;
  /* border-bottom: solid 1px #ECEBEB; */
}

.embed-responsive iframe {
  padding-bottom: 1em;
}

.front-lists-v1 li {
  font-size: 14px;
}

figure {
  margin: 0px 0px 15px 0px;
}

.service-box p {
  font-size: 14px;
}

.content-page p {
  font-size: 14px;
}

.front-team h3 small {
  font-size: 14px;
}

.blog-posts hr.blog-post-sep {
  margin: 20px 0;
}
.article-entry h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.tipue_search_content_title {
  font-size: 1.5em;
  margin-top: 20px;
}

.tipue_search_content_title a {
  text-decoration: none;
  color: #333
}

.tipue_search_content_title a:hover
{
  color: #64aed9;
}

#search-form input {
  text-indent: 0px;
}

.img-responsive {
  margin: 0 auto;
}
