    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %><br>
            KDE&reg; and <a href="https://www.kde.org/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment&reg; logo</a> are registered trademarks of <a href="https://ev.kde.org/">KDE e.V.</a> | <a href="https://www.kde.org/community/whatiskde/impressum.php">Legal</a>
          </div>
          <!-- END COPYRIGHT -->
	        <%- partial('_partial/social') %>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
