---
title: About Us
date: 2018-04-05 14:22:22
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
      
        <!-- BEGIN INFO BLOCK -->               
        <div class="col-md-7">
            <h2 class="no-top-space">Vero eos et accusamus</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p> 
            <p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
            <!-- BEGIN LISTS -->
            <div class="row front-lists-v1">
                <div class="col-md-6">
                    <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                        <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                        <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i> Officia deserunt molliti</li>
                        <li><i class="fa fa-check"></i> Consectetur adipiscing </li>
                        <li><i class="fa fa-check"></i> Deserunt fpicia</li>
                    </ul>
                </div>
            </div>
            <!-- END LISTS -->
        </div>
        <!-- END INFO BLOCK -->   

        <!-- BEGIN SIDE IMAGE -->            
        <div class="col-md-5">
            <img src="img/konqi-group.png" />
        </div>
        <!-- END SIDE IMAGE -->
      </div>

    <div><h2>Team</h2></div>
        <!-- BEGIN TEAM -->
        <div class="row front-team">
            <ul class="list-unstyled">
                    
                <li class="col-md-3">
                    <div class="thumbnail">
                        <img src='img/people/konqi.png'>
                        <h3>
                            <strong>Konqi the Konqueror</strong> 
                            <small>Chief Executive Officer / CEO</small>
                        </h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <ul class="social-icons social-icons-color">
                            <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                            <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                            <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                            <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </li>
                
                <li class="col-md-3">
                    <div class="thumbnail">
                        <img src='img/people/konqi-app-dev-katie.png'>
                        <h3>
                            <strong>Katie Dragon</strong> 
                            <small>Chief Executive Officer / CEO</small>
                        </h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <ul class="social-icons social-icons-color">
                            <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                            <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                            <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                            <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="thumbnail">
                        <img src='img/people/konqi-dev-qt.png'>
                        <h3>
                            <strong>Konqi Dev Qt</strong> 
                            <small>Chief Executive Officer / CEO</small>
                        </h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <ul class="social-icons social-icons-color">
                            <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                            <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                            <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                            <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="thumbnail">
                        <img src='img/people/konqi-base-framework.png'>
                        <h3>
                            <strong>Konqi Base Framework</strong> 
                            <small>Chief Executive Officer / CEO</small>
                        </h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                        <ul class="social-icons social-icons-color">
                            <li><a class="facebook" data-original-title="Facebook" href="javascript:;"></a></li>
                            <li><a class="twitter" data-original-title="Twitter" href="javascript:;"></a></li>
                            <li><a class="googleplus" data-original-title="Goole Plus" href="javascript:;"></a></li>
                            <li><a class="linkedin" data-original-title="Linkedin" href="javascript:;"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>            
        </div>
        <!-- END TEAM -->
    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
