---
layout: index
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1>KDE Plasma/Qt Technology.</h1>
	  <h4 class="wow fadeIn">Lorem ipsum dolor sit amet, dolore eiusmod quis
	  tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis
	  iste natus error sit voluptatem.</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="assets/img/plasma.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-location-arrow blue wow rollIn"></i></em>
	  <span>KDE Applications</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-check red wow rollIn"></i></em>
	  <span>Plasma Mobile</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-compress green wow rollIn"></i></em>
	  <span>KDE neon</span>
	</div>
	<p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
      </div>
    </div>
		</div>

<div class="main">
  <div class="container">
  </div>
</div>
