<div class="container-fluid flush-with-header">
    <div class="row margin-bottom-40 row-corporate bg-light-1">
        <div class="container">
            <div class="col-xs-6 col-sm-8 row-corporate-text-container">
                <div class="row-corporate-text">
                    <h1>KDE Users Group Indonesia.</h1>
                    <h4 class="wow fadeIn">KDE Users Group Indonesia, is the Indonesian local users group of KDE. Provides Indonesian KDE users with a community hub to coordinate with and support each other.
                    </h4>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <img src="/assets/img/konqi.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row service-box margin-bottom-40">
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading text-center">
                <em><i class="fa fa-telegram blue wow rollIn"></i></em>
                <a href="https://t.me/kdeid" target="_blank"><span>Telegram Group</span></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 text-center">
            <div class="service-box-heading">
                <em><i class="fa fa-facebook blue wow rollIn"></i></em>
                <a href="https://www.facebook.com/groups/kde.id/" target="_blank"><span>Facebook Group</span></a>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading text-center">
                <em><i class="fa fa-twitter blue wow rollIn"></i></em>
                <a href="https://twitter.com/kde_id" target="_blank"><span>Twitter</span></a>
            </div>
        </div>
    </div>
</div>

<% if(page.content){ %>
    <%- page.content %>
    <% } else { %>
        <div class="container">
            <div id="main">
                <%- partial('_partial/archive', {pagination: config.archive, index: false}) %>
            </div>
        </div>
    <% } 
%>
